
.factDialog{
    width:400px;
    height: 200px;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.Row__list::-webkit-scrollbar{
    display: none;
}



.Unfact{
    display: flex;
    flex-wrap: wrap;
}
.fact{
    background: #1b1e24;
    background-size: 200% 200%;
    animation: background_style 3s ease infinite;
    width:170px;
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.pageMovie{
    background-color: #1b2631;
}
@keyframes background_style{
    0% {
          background-position: 30% 30%;
      }
      50% {
          background-position: 100% 100%;
      }
      100% {
          background-position: 30% 30%;
      }
  }
.stor__text{
text-align: center;

}

.profil_img{
    max-width: 250px;
    max-height: 700px;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.Actor_img{
    object-fit: contain;
    max-width: 100px;
    border-radius: 50%;
    
}
.parantActor{
    max-width: 300px;
    max-height: 1000px;
    display: flex;
    justify-content:space-around;    

}
  .nav{
      display: flex;
      position: fixed;
      top:0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      z-index: 1;
      transition: all 0.5s ease-in;
  }
  .nave_black{
    background-color: rgba(0, 0, 17, 0.904);
}
  .Title_Overview{
      margin-top: 200px;
      margin-left: 20px;
      max-width: 400px;
  }

  @keyframes background_slider{
    0% {
        background-position: 30% 30%;
       
      }
      50% {
        background-position: 100% 100%;
        
      }
      100% {
        background-position: 30% 30%;
        
      }
  }

  .slider_{
    background-size: 200% 200%;
    animation: background_slider 50s ease infinite;

}


@media (max-width: 575.98px) { 
    .Row__img{
        object-fit: contain;
        max-width:100px;
        margin-left: 10px;
    }
    .Actor_img{
        max-width: 70px;
    }
    .fact{
        width: 130px;
        height: 110;
    }
}

/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 767.98px) { 
    .Row__img{
        object-fit: contain;
        max-width:130px;
        margin-left: 10px;
    }
    .fact{
        width: 100px;
        height: 90;
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .Row__img{
        object-fit: contain;
        max-width:150px;
        margin-left: 10px;
    }
    .fact{
        width: 150px;
        height: 150;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .Row__img{
        object-fit: contain;
        max-width:200px;
        margin-left: 20px;
    }
}



.profile{
    margin: auto;
    width: 150px;
    height: 150px;
    background-color: rgb(223, 223, 223);
    border-radius: 50%;
}

.profile2{
    margin-top: 5px;
    margin-right: 20px;
    width: 30px;
    height: 30px;
    background-color: rgb(223, 223, 223);
    border-radius: 50%;
    
}


.name{
    text-align: center;
}


.dilo{
    object-fit: contain;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: flex-end;
}

